/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .testimonial-section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
  }
  
  .testimonial-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff
  }
  
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .testimonial-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }
  
  .patient-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
    margin-bottom: 15px;
  }
  
  .quote {
    font-style: italic;
    font-size: 0.95em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .patient-info h4 {
    margin: 0;
    color: #2c3e50;
    font-weight: 600;
  }
  
  .patient-info span {
    font-size: 0.9em;
    color: #888;
  }
  
  .rating {
    color: #f1c40f;
    font-size: 1.2em;
    margin-top: 8px;
  }

  /*** Feature ***/
@media (min-width: 992px) {
  .container.feature {
      max-width: 100% !important;
  }

  .feature-text  {
      padding-left: calc(((100% - 960px) / 2) + .75rem);
  }
}

@media (min-width: 1200px) {
  .feature-text  {
      padding-left: calc(((100% - 1140px) / 2) + .75rem);
  }
}

@media (min-width: 1400px) {
  .feature-text  {
      padding-left: calc(((100% - 1320px) / 2) + .75rem);
  }
}


